body {
  background-color: #333;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 600px;
  margin: 8% auto;
  padding: 20px;
  background-color: #444;
  border-radius: 10px;
}

.dropdown {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
input {
  width: calc(100% - 22px); 
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
  box-sizing: border-box; 
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}
